<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Survey</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="wrapper">
        <h1>Dojo Survey</h1>
        <form action="/process_form" method="POST">
            {% csrf_token %}
            <label for="fullname">Your Name:</label>
            <input type="text" id="fullname" name="fullname" value="Full Name...">
            <label for="location">Dojo Location:</label>
            <select id="location" name="location">    
                <option value="Arlington, VA">Arlington, VA
                <option value="Boise, ID">Boise, ID
                <option value="Chicago, IL">Chicago, IL
                <option value="Dallas, TX">Dallas, TX
            </select>
            <label for="language">Favorite Language:</label>
            <select id="language" name="language">
                <option value="C++">C++
                <option value="Java">Java
                <option value="JavaScript">JavaScript
                <option value="Python">Python
            </select>
            <label for="comments">Comments (optional):</label>
            <textarea id="comments" name="comments" placeholder="Write something..."></textarea>
            <input type="submit" value='Submit'>
        </form>
    </div>
</body>
</html>